*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

overflow:hidden;

background:black;

font-family:Arial;

}

#gameCanvas{

display:none;

background:#050505;

}

#menu{

position:absolute;

width:100%;

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#000;

color:white;

}

h1{

font-size:70px;

margin-bottom:20px;

color:#7cff00;

text-shadow:0 0 20px #7cff00;

}

p{

margin-bottom:30px;

font-size:22px;

}

button{

padding:20px 50px;

font-size:30px;

cursor:pointer;

background:#7cff00;

border:none;

border-radius:12px;

font-weight:bold;

transition:.25s;

}

button:hover{

transform:scale(1.08);

}
